/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .errors {
   color: red;
 }

 .errors li {
   list-style-type: none;
 }

.session-blurb {
  color: #999;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
}

.session-button {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  width: 200px;
  height: 20px;
  font-family: Helvetica;
  margin: 0 auto;
}

.session-input {
  width: 200px;
  height: 20px;
  background: #fafafa;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9px 0 7px 8px;
}

.session-form {
  margin-top: 5%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5% auto;
}

.session-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica;
}
