/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.bottom-line-username {
 font-family: Helvetica;
 font-size: 16px;
 font-weight: 600;
 margin: -15px auto auto 0;
 text-transform: lowercase;
}

.button-container {
 padding: 9px 0 7px 8px;
}

.caption-input {
 background: #fafafa;
 border: 1px solid #efefef;
 border-radius: 3px;
 font-family: Helvetica;
 font-size: 14px;
 height: 18px;
 margin: 10px auto auto auto;
 overflow: hidden;
 text-overflow: ellipsis;
 width: 250px;
 padding: 2% 3% 20% 3%;
}

.chatroom-dropdown-content {
  background: white;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 3px;
  display: block;
  font-family: Helvetica;
  margin-top: 42px;
  position: absolute;
  width: 271px;
  z-index: 1;
}

.chatroom-dropdown-content div {
  color: black;
  background: #fafafa;
  display: block;
  float: none;
  font-size: 14px;
  padding: 7px 17px;
  font-weight: normal;
  min-width: 125px;
  text-decoration: none;
  text-align: left;
 }

.chatroom-footer {
 background: white;
 border-top: 1px solid #e6e6e6;
 bottom: 0;
 display: flex;
 flex-direction: row;
 font-family: Helvetica;
 font-size: 15px;
 justify-content: center;
 position: fixed;
 width: 100vw;
}

.change-form {
 background-color: #fff;
 border: 1px solid #e6e6e6;
 display: flex;
 flex-direction: column;
 font-size: 14px;
 margin: 10px auto;
 padding: 27px 0 27px 0;
 text-align: center;
 width: 100%;
}

.chatroom-item-container {
 border-bottom: 1px solid #e6e6e6;
 color: black;
 display: flex;
 flex-direction: row;
 width: 320px;
 text-decoration: none;
 padding-top: 10px;
 padding-bottom: 10px;
}

.chatroom-item-container:hover {
 background-color: lightgray;
 cursor: pointer;
}

.chatroom-item-image {
 border: 1px solid #e6e6e6;
 border-radius: 100%;
 height: 40px;
 margin: auto 10px auto 10px;
 object-fit: contain;
 width: 40px;
}

.chatroom-item-time {
  color: #262626;
  font-family: Helvetica;
  font-size: 14px;
  margin: auto 15px auto auto;
}

.chatroom-item-username {
 font-family: Helvetica;
 font-size: 16px;
 margin: auto auto auto 5px;
}

.chatroom-items {
  border-top: 1px solid #e6e6e6;
  min-width: 320px;
  overflow: scroll;
}

.chatroom-leftside {
  background: white;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
}

.chatroom-leftside-header {
  border-bottom: 1px solid #e6e6e6;
  font-family: Helvetica;
  text-align: center;
  letter-spacing: 1px;
  padding: 15px;
}

.chatroom-search {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  float: left;
  font-family: Helvetica;
  font-size: 14px;
  overflow: hidden;
  padding: 7px 10px;
  text-align: center;
  width: 280px;
}

.chatroom-search-container {
  display: flex;
  margin: 0 auto 0 auto;
  padding: 10px 0;
}

.close-modal {
 position: absolute;
 top: 5px;
 right: 15px;
 color: #f1f1f1;
 font-size: 36px;
 font-weight: 600;
 transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
 color: #bbb;
 cursor: pointer;
 text-decoration: none;
}

.comment-body {
 display: block;
 font-size: 14px;
 margin: auto auto auto 0;
 padding: 0;
 word-wrap: break-word;
 width: 500px;
}

.comment-input {
 align-items: center;
 border: none;
 font-family: Arial;
 font-size: 14px;
 margin: auto;
 height: 18px;
 resize: none;
 text-align: left;
 width: 542px;
}

.comment-input-container {
 border-top: 1px solid #e6e6e6;
 display: flex;
 flex-direction: row;
 padding-bottom: 16px;
 padding-top: 16px;
 text-align: left;
 width: 568px;
}

.comment-input-container form {
 height: 18px;
 margin: auto auto auto 0;
}

.comment-item {
 display: flex;
 flex-direction: row;
 font-family: Helvetica;
 font-size: 14px;
 justify-content: space-between;
 padding: 5px 0 6px 0;
 margin-top: -3px;
 text-align: left;
 word-wrap: break-word;
}

.comment-poster {
 color: inherit;
 font-size: 14px;
 font-weight: 600;
 text-decoration: none;
 text-transform: lowercase;
}

.comment-poster-and-body {
 display: flex;
 flex-direction: row;
 width: 550px;
 align-items: flex-start;
}

.comment-poster-and-body p {
 margin: 0;
 min-width: 550px;
 width: 100%;
}

.comment-shown-container:first-child {
 margin-top: 3px;
}

.comment-submit {
 display: none;
}

.comment-trigger {
 display: flex;
 color: #999;
 font-size: 14px;
 font-family: Helvetica;
 font-size: 14px;
}

.comment-trigger:hover {
 cursor: pointer;
}

.delete-comment {
 border: none;
 color: #c7c7c7;
 cursor: pointer;
 float: right;
 font-size: inherit;
 height: 1em;
 line-height: inherit;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  background: white;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 3px;
  display: block;
  font-family: Helvetica;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}

.dropdown-content div {
  color: black;
  display: block;
  float: none;
  font-size: 14px;
  padding: 7px 17px;
  font-weight: normal;
  min-width: 125px;
  text-decoration: none;
  text-align: left;
  width: 215px;
 }

.dropdown-content div:hover {
 cursor: pointer;
}

.explore-main {
  align-items: center;
  background: #fafafa;
  border-top: 1px solid #e6e6e6;
  display: flex;
  padding-top: 60px;
  flex-direction: column;
}

.explore-photos {
  background: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 166px 58px 162px;
  width: 997px;
}

.explore-recommended {
  color: #999;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}

.explore-subheader {
  color: #999;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
  width: 940px;
}

.explore-user-img {
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  height: 78px;
  margin: auto auto 12px auto;
  object-fit: contain;
  width: 78px;
}

.explore-user-img:hover {
  cursor: pointer;
}

.explore-user-username {
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 2px;
  text-align: center;
}

.explore-user-username:hover {
  cursor: pointer;
}

.explore-user-text-container {
  margin-bottom: 12px;
}

.explore-users {
  display: flex;
  flex-direction: row;
  margin: 0px 166px 58px 162px;
  width: 997px;
}

.explore-users-content {
  margin: auto;
  padding: 25px;
}

.explore-users-item {
  border: 1px solid #e6e6e6;
  background: white;
  height: 220px;
  margin: 15px 0 15px 30px;
  text-align: center;
  width: 291px;
}

.errors {
 color: #ed4956;
 display: flex;
}

.errors li {
 font-family: inherit;
 font-size: 13px;
 list-style-type: none;
 margin-right: 10%;
}

.feed-photo {
 display: flex;
 flex-direction: column;
 margin: auto;
 object-fit: cover;
 width: 600px;
 text-align: center;
}

.feed-photos-all {
  border-top: 1px solid #e6e6e6;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  height: 100%;
  padding-bottom: 70px;
  text-align: center;
}

.feed-photo-button {
  border: none;
  display: inline-block;
  height: 24px;
  font-size: 24px;
  font-weight: 200;
  margin: auto 16px auto 0;
  width: 24px;
}

.feed-photo-button:hover {
 cursor: pointer;
}

.feed-photo-buttons-container {
 margin: 8px auto auto auto;
 display: flex;
 flex-direction: row;
 height: 35px;
 width: 568px;
}

.feed-photo-container {
 border: 1px solid #e6e6e6;
 display: flex;
 flex-direction: column;
 margin: 60px auto auto auto;
 width: 600px;
}

.feed-photo-text {
 background: white;
 margin: auto;
 width: 568px;
 padding-left: 16px;
 padding-right: 16px;
}

.feed-placeholder-container {
  background: white;
  border: 1px solid #e6e6e6;
  margin: auto;
  width: 600px;
}

.feed-placeholder-item {
  border-bottom: 1px solid #e6e6e6;
}

.feed-placeholder-item:last-of-type {
  border-bottom: none;
}

.follow {
 background-color: #3897f0;
 border: 1px solid #3897f0;
 color: #fff;
 border-radius: 3px;
 font-family: Helvetica;
 font-size: 14px;
 font-weight: 600;
 height: 28px;
 margin: auto 10px auto 20px;
 padding: 0 24px 0 24px;
}

.follow:hover {
  cursor: pointer;
}

.follow-button {
 background: white;
 border: 1px solid rgb(216, 216, 216);
 border-radius: 3px;
 font-family: Helvetica;
 font-size: 14px;
 font-weight: 600;
 height: 28px;
 margin: auto 10px auto 20px;
 padding: 0 24px 0 24px;
}

.follow-button:hover {
 border: 1px solid black;
 cursor: pointer;
}

.follow-item-container {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}

.follow-item-img {
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  height: 40px;
  object-fit: contain;
  width: 40px;
}

.follow-item-username {
  font-family: Helvetica;
  font-size: 16px;
  margin: auto auto auto 10px;
}

.follow-item-username:hover {
  cursor: pointer;
}

.follow-modal-contents {
  background: white;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: auto;
  width: 60vw;
}

.follow-modal-header {
  font-family: Helvetica;
  font-size: 18px;
  margin: auto auto auto 0;
  padding: 15px;
  text-align: left;
}

.follow-modal-users {
  border-top: 1.5px solid #e6e6e6;
  flex: 1;
  overflow: scroll;
}

.footer-item {
 color: #003569;
 font-family: Arial;
 text-decoration: none;
 margin-right: 20px;
 text-transform: uppercase;
}

.footer-item:hover {
 color: blue;
 cursor: pointer;
}

.footer-items-left {
 padding-bottom: 20px;
 padding-top: 15px;
 margin: auto auto auto 170px;
}

.footer-items-right {
 color: #003569;
 font-family: Arial;
 padding-bottom: 20px;
 padding-top: 15px;
 margin: auto 170px auto auto;
 text-transform: uppercase;
}

.get-the-app {
 color: #262626;
 font-size: 14px;
 line-height: 18px;
 text-align: center;
}

.image-form-container {
 display: flex;
 flex-direction: row;
}

.image-placeholder {
 color: #999;
 font-family: Helvetica;
 font-size: 16px;
 margin: auto;
}

.image-show-container:hover {
  cursor: pointer;
}

.image-show-container {
 display: flex;
 flex-direction: row;
 margin: auto 30px auto auto;
 width: 500px;
 min-height: 500px;
 max-height: 600px;
 border: 1px solid #e6e6e6;
}

.index-poster-username {
 color: inherit;
 font-size: 14px;
 font-weight: 600;
 margin: auto auto auto 0;
 text-decoration: none;
 text-transform: lowercase;
}

.link {
 color: #3897f0;
 text-decoration: none;
}

.liked {
 color: #F74040;
}

.likes-count {
 font-size: 14px;
 font-weight: 600;
 margin-left: 0;
 padding: 6px 0 8px 0;
 text-align: left;
}

.likes-count:hover {
 cursor: pointer;
}

.loading-item {
 border: 5px solid #f3f3f3;
 border-top: 5px solid #3498db;
 border-radius: 50%;
 margin: auto;
 width: 30px;
 height: 30px;
 animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-item-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 5% auto 10% auto;
  width: 100vw;
}

.login-or {
 border-bottom: 1px solid #999;
 margin: 10px 40px 18px;
 line-height: 0.1em;
}

.login-or span {
 color: #999;
 font-weight: 600;
 font-size: 13px;
 padding:0 16px 0 16px;
 background-color: #fff;
}

.logo-text {
  font-family: Brush Script MT, cursive;
  font-size: 60px;
  font-weight: 100;
  margin: 10px 0 10px 0;
}

.left-nav {
  margin: auto auto auto 0;
}

.messages-container {
  background: #efefef;
  border-top: 1px solid #e6e6e6;
  bottom: 53px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 89px;
  width: 100vw;
}

.message-display {
  margin-top: 30vh;
}

.message-display-container {
  flex: 1;
  text-align: center;
}

.message-display-placeholder {
  color: gray;
  font-family: Helvetica;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.message-image {
  color: gray;
  font-size: 60px;
  margin-bottom: 30px;
}

.message-info {
  margin: auto 5px auto auto;
}

.message-input {
  background: white;
  border-bottom: none;
  border-top: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  font-family: Helvetica;
  font-size: 20px;
  bottom: 53px;
  padding: 10px;
  width: 100%;
  word-wrap: break-word;
}

.message-input-container {
  background: white;
  width: 100%;
}

.message-item-container {
  display: flex;
  margin: 10px;
}

.message-item-received {
  background: #d3d3d3;
  border-radius: 10px;
  display: inline-block;
  max-width: 60%;
  padding: 10px;
}

.message-item-sent {
  background: #007AFF;
  border-radius: 10px;
  color: white;
  display: table;
  margin: auto 10px auto auto;
  max-width: 60%;
  padding: 10px;
}

.messages-only {
  flex: 1;
  overflow: scroll;
}

.message-received-time {
  color: darkslategray;
  font-size: 14px;
  font-family: Helvetica;
  margin: 2px auto auto 0;
}

.message-recipient-img {
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  font-size: 16px;
  margin: auto 10px auto 10px;
  object-fit: contain;
  height: 45px;
  width: 45px;
}

.message-recipient-info {
  background: white;
  border-bottom: 1px solid #e6e6e6;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-decoration: none;
  width: 100%;
}

.message-recipient-username {
  color: black;
  font-family: Helvetica;
  margin: auto auto auto 5px;
  text-decoration: none;
}

.message-recipient-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.message-sent-time {
  color: lightgray;
  display: table;
  font-size: 14px;
  font-family: Helvetica;
  margin: 2px 0 auto auto;
}

.message-show-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-text {
  font-family: Helvetica;
  word-break: break-all;
}

.message-user {
  background: white;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 14px;
  height: 28px;
  margin: auto auto auto 10px;
  padding: 0 10px;
}

.message-user:hover {
  border: 1px solid black;
  cursor: pointer;
}

.modal {
  background-color: rgba(0,0,0,.75);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal-caption-body {
  display: inline;
  font-size: 14px;
  margin: auto auto auto 0;
  padding: 0;
}

.modal-caption-item {
  flex-direction: row;
  font-family: Helvetica;
  font-size: 14px;
  padding: 5px 0 6px 0;
  margin-top: -3px;
  text-align: left;
  word-wrap: break-word;
}

.modal-caption-poster {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: lowercase;
  display: inline;
}

.modal-comment-container {
  border: none;
  height: 300px;
  flex: 1;
  overflow: scroll;
  display: hidden;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-comment-input {
  align-items: center;
  border: none;
  border-image-repeat: stretch;
  font-size: 14px;
  height: 18px;
  margin-left: 24px;
  resize: none;
  width: 248px;
  word-wrap: break-word;
}

.modal-comment-input-container {
  display: fixed;
  align-self: flex-end;
  border-top: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  height: auto;
  bottom: 0;
  padding: 16px 24px 16px 24px;
}

.modal-comment-body {
  align-items: flex-start;
  font-family: Helvetica;
  font-size: 14px;
  min-width: 235px;
  word-wrap: break-word;
}

.modal-comment-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0 6px 0;
  text-align: left;
  margin-top: -5px;
  width: inherit;
  justify-content: space-between;
}

.modal-comment-poster {
  color: inherit;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.modal-contents {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.modal-delete-comment {
  border: none;
  color: #c7c7c7;
  cursor: pointer;
  float: right;
  font-size: inherit;
  height: 1em;
  line-height: inherit;
  width: 1em;
}

.modal-detail {
  margin-left: 0;
  padding: 0 24px 0 24px;
}

.modal-detail-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  width: 320px;
  background-color: white;
}

.modal-image {
  max-height: 700px;
  max-width: 1000px;
  margin-right: 0;
  object-fit: contain;
}

.modal-footer {
  border-top: 1px solid #efefef;
  padding-top: 5px;
}

.modal-likes-count {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  margin-left: 24px;
  padding: 6px 0 5px 0;
  text-align: left;
}

.modal-likes-count:hover {
  cursor: pointer;
}

.modal-message-img {
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.modal-message-input {
  border: 1px solid #e6e6e6;
  font-family: Helvetica;
  font-size: 16px;
  height: 40vh;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  text-align: start;
  width: 60vw;
}

.modal-message-recipient {
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 16px;
  margin: 20px 20px 10px 20px;
}

.modal-message-send {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding: 5px 40px;
  margin: 6px 17px 6px 17px;
}

.modal-message-send:hover {
  cursor: pointer;
}

.modal-message-send-container {
  margin-bottom: 20px;
}

.modal-message-username {
  margin: auto auto auto 10px;
}

.modal-message-to {
  margin: auto 10px auto 0px;
}

.modal-message-show-container {
  background: white;
  display: flex;
  flex-direction: column;
}

.modal-message-user-item {
  display: flex;
  flex-direction: row;
}

.modal-photo-age {
  color: #999;
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 10px;
  padding: 5px 0 11px 24px;
  text-align: left;
  text-transform: uppercase;
}

.modal-photo-button {
   border: none;
   display: inline-block;
   height: 24px;
   font-size: 24px;
   font-weight: 200;
   margin: auto 16px auto 0;
   width: 24px;
}

.modal-photo-button:hover {
  cursor: pointer;
}

.modal-photo-buttons-container {
  padding-left: 24px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 35px;
}

.modal-poster {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  font-family: Helvetica;
  margin-left: 0;
  margin-bottom: 5px;
  padding: 20px 0 20px 24px;
}

.modal-poster-and-body {
  margin: 0;
}

.modal-poster-photo {
  height: 40px;
  width: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin: auto 0 auto 0;
  object-fit: contain;
}

.modal-poster-username {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
}

.modal-poster-lower-username {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  margin-left: 0;
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
}

.modal-show-container {
  background: white;
  display: flex;
  flex-direction: row;
}

.modal-top-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 6px;
  padding-right: 5px;
  padding-top: 5px;
  word-wrap: break-word;
}

.modal-zero-likes {
  color: #999;
  font-size: 14px;
  font-family: Helvetica;
  font-size: 14px;
  margin-left: 0;
  padding: 6px 0 8px 24px;
  text-align: left;
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  min-width: 385px;
  max-width: 930px;
  padding: 26px 40px;
}

.nav-bar-container {
}

.nav-bar-logo {
  border-right: 1px solid #e6e6e6;
  color: #262626;
  font-weight: 10;
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 10px;
}

.nav-bar-written-logo {
  color: #262626;
  font-family: Brush Script MT, cursive;
  font-size: 30px;
  font-weight: 50;
  text-decoration: none;
}

.nav-icons {
  color: #262626;
  font-size: 24px;
  margin-left: 30px;
}

.new-post {
  align-items: center;
  font-family: Helvetica;
  font-size: 20px;
  margin: 30px auto 20px auto;
  padding: 20px auto auto 20px;
}

.overlay {
  color: white;
}

.photo-age {
  color: #999;
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 10px;
  padding: 8px 0 12px 0;
  margin-top: -5px;
  text-align: left;
  text-transform: uppercase;
}

.photo-detail {
  align-items: center;
  border-top: 1px solid #e6e6e6;
  bottom: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 89px;
  width: 100vw;
}

.photo-header {
  background: white;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  height: 28px;
  padding: 16px;
}

.photo-item {
  height: 293px;
  width: 293px;
  object-fit: cover;
  -webkit-transition: .2s all;
}

.photo-item:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
}

.photo-item-container {
  margin: 15px 0 15px 30px;
}

.photo-poster {
color: inherit;
font-weight: 600;
margin: auto 5px 0 0;
text-decoration: none;
}

.poster-and-caption {
 display: flex;
 flex-direction: row;
 font-size: 14px;
 width: 568px;
 margin-bottom: 5px;
 margin-left: 0;
}

.poster-photo {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  height: 30px;
  margin: auto 15px auto 0;
  object-fit: contain;
  padding: none;
  width: 30px;
}

.posts-followers-followings {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
}

.profile-all {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 20px 0 20px;
  margin: auto auto 0 auto;
}

.profile-option {
  height: 28px;
  font-size: 28px;
  margin: auto 0 auto auto;
}

.profile-option:hover {
  cursor: pointer;
}

.profile-followers {
  margin-right: 42px;
}

.profile-followers:hover {
  cursor: pointer;
}

.profile-followings {
  margin-right: 42px;
}

.profile-followings:hover {
  cursor: pointer;
}

.profile-header {
  display: flex;
  flex-direction: row;
  margin: 0 15px -15px 15px;
  width: 997px;
}

.profile-main {
  background: #fafafa;
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
}

.profile-bottom-line {
  margin: auto auto 20px 0;
}

.profile-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-name-bio {
  font-size: 16px;
  margin: auto auto 20px 0;
}

.profile-photo {
  border-radius: 100%;
  border: 1px solid #e6e6e6;
  margin: 0 auto 0 auto;
  object-fit: contain;
  width: 152px;
  height: 152px;
}

.profile-photos {
  background: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 45px 166px 58px 162px;
  width: 997px;
}

.profile-photo-container {
  display: flex;
  flex-direction: row;
  margin: 0 30px 0 30px;
  padding: 0 69.5px 0 69.5px;
}


.profile-posts {
  margin: auto 42px auto 0;
}

.profile-text {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 100;
}

.profile-top-line {
  display: flex;
  flex-direction: row;
  margin: auto auto 20px 0;
}

.profile-username {
  font-weight: lighter;
  text-transform: lowercase;
}

.result-item-container {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
}

.result-item-photo {
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  height: 30px;
  float: left;
  margin: auto 10px auto auto;
  object-fit: contain;
  width: 30px;
}

.right-nav {
  margin: auto 0 auto auto;
}

.search-bar {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-family: Helvetica;
  font-size: 14px;
  min-width: 125px;
  padding: 7px 17px;
  text-align: center;
  width: 215px;
}

.session-all {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.session-blurb {
  color: #999;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 15% 3px;
  text-align: center;
}

.session-button {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin: 12px 17px 17px 17px;
  width: 268px;
}

.session-button:hover {
  cursor: pointer;
}

.session-footer {
  background: white;
  bottom: 0;
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 15px;
  justify-content: center;
  max-height: 53px;
  position: fixed;
  width: 100vw;
}

.session-footer-feed {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 15px;
  justify-content: center;
  margin-top: 20px;
  width: 100vw;
}

.session-form {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px 0 0 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.session-form form {
  flex-direction: column;
}

.session-input {
  background: #fafafa;
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 14px;
  height: 18px;
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 245px;
  padding: 2% 3% 2% 3%;
}

.session-input:invalid {
  border: 1px solid #ed4956;
}

.session-photo {
  display: flex;
  flex-direction: column;
  background-image: url('http://res.cloudinary.com/dn26kjpum/image/upload/v1511990923/auto_detail_the_suitcase_light_colors_blue_red_museum-670976_vgtpr4.jpg');
  min-height: 600px;
  border-radius: 35px;
  margin-right: 30px;
  width: 454px;
}

.session-text {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  justify-content: center;
  width: 350px;
}

.terms-privacy-policy {
  color: #999;
  margin: 10px 60px 30px;
  font-size: 14px;
}

.unfollow-button {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  background-color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  margin: auto 10px auto 20px;
  padding: 0 24px 0 24px;
}

.unfollow-button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.upload-button {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin: 6px 17px 12px 17px;
  text-align: center;
  width: 268px;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button-container {
  display: flex;
  flex-direction: column;
}

.upload-form {
  align-items: center;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px auto auto 10px;
  width: 300px;
}

.upload-preview {
  display: flex;
  flex-direction: row;
  margin: auto;
  object-fit: contain;
  width: 400px;
}

.view-all-photos-link {
  border: none;
  color: #999;
  display: flex;
  font-family: Helvetica;
  font-size: 14px;
  text-decoration: none;
}

.view-all-photos-container {
  display: flex;
  text-align: left;
}

.view-all-photos-button:hover {
  cursor: pointer;
}

.zero-likes {
  color: #999;
  font-size: 14px;
  font-family: Helvetica;
  font-size: 14px;
  margin-left: 0;
  padding: 6px 0 8px 0;
  text-align: left;
}
